/* Coolors Exported Palette - coolors.co/fdfffc-2ec4b6-011627-eb465a-ff9f1c */

/* HSL */
$color1: hsla(100%, 100%, 99%, 1);
$color2: hsla(174%, 62%, 47%, 1);
$color3: hsla(207%, 95%, 8%, 1);
$color4: hsla(353%, 80%, 60%, 1);
$color5: hsla(35%, 100%, 55%, 1);

/* RGB */
$color1: rgba(253, 255, 252, 1);
$color2: rgba(46, 196, 182, 1);
$color3: rgba(1, 22, 39, 1);
$color4: rgba(235, 70, 90, 1);
$color5: rgba(255, 159, 28, 1);